a:link { text-decoration: none; color: #777777;}
a:visited { text-decoration: none; color: #777777;}
a:hover { text-decoration: none; color: #777777;}
a:active { text-decoration: none; color: #777777;}

body {
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  background-color: #f1f1f1;
  padding-bottom: 150px;
}

.App{
  width: 1248px;
  margin: 0 auto;
}

/* header */
header{
  text-align: center;
  width: 100%;
  background-color: #fff;
}

/* home page styles */

.page-body{
  background-color: #fff;
  padding: 80px 100px;
  font-size: 16px;
}

/* navbar */

.navbar{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 14px;
}

.navbar__link{
  padding: 10px 25px;
  color: rgb(66, 64, 64);
  border: 1px solid transparent;
}

.navbar__link:hover{
  color: #199e81;
}

.navbar__link.active{
  color: #199e81;
  border: 1px solid #199e81;
}


/* login */

.login__control{
  margin-top: 25px;
}

.login__input {
  width: 100%;
  height: 40px;
  border: 1px solid #d4d0ba;
  margin: 10px 0 20px 0;
}

.submit__module{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login__button{
  border: 2px solid #199e81;
  cursor: pointer;
  height: 40px;
  padding: 0 40px;
  color: #199e81;
  background-color: #fff;
}

.login__button:hover{
  color: #000;
  border-color: #000
}

.login__links_item{
  line-height: 2;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
}

.login__inputbox{
  margin: 15px;
}

/* login password */

.validate-username{
  border: 1px solid #d4d0ba;
  border-radius: 2px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  margin-top: 10px;
}

.validate-button{
  border: 2px solid #d4d0ba;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  color: #199e81;
  margin-left: 15px;
}

.register__input{
  border: 1px solid #d4d0ba;
  border-radius: 2px;
  font-weight: 300;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  margin: 15px 0;
}

.register__input__photo{
  display: block;
  margin: 15px 0;
}

.register__deparment{
  margin-left: 15px;
  margin-bottom: 20px;
}

/* search */

.search__inputs{
  display: flex;
  justify-content: space-between;
}

.search__input{
  border: 1px solid #d4d0ba;
  border-radius: 2px;
  font-weight: 300;
  height: 40px;
  padding: 0 10px;
  float: left;
  width: 65%;
}

.search__btn{
  border: 2px solid #d4d0ba;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 0 40px;
  text-transform: uppercase;
  color: #199e81;
  margin-left: 15px;
  width: 30%;
}

fieldset{
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin: 10px 0;
  padding: 0 20px;
}

.search__fieldset_legend{
  padding: 0 5px;
}

.option-radio, .search__checkbox_label{
  margin-right: 15px;
}

.search__radio, .search__checkbox{
  margin: 0 5px 0 0;
}

.select-uni{
  border: 1px solid #d4d0ba;
  border-radius: 2px;
  height: 40px;
  width: 250px;
  padding: 0 10px;
}

.search__phrases{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__wrapper{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  width: 1200px;
  height: 950px;
}

.carousel__item{
  box-shadow: 0 0 10px #ccc;
  width: 515px;
  height: 300px;
  border-radius: 10px;
}

.carousel__video{
  width:  100%;
  height: 100%;
  border-radius: 10px;
}

.carousel__text{
  text-align: center;
  margin-top: 150px;
}

.search__ordering__label{
  margin-right: 15px;
}

/* support */

.body-box{
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__header{
  text-align: left;
  width: 424px;
}

.help__header-title{
  font-size: 24px;
  color: #363636;
}

.problem-textarea{
    width: 400px;
    height: 71px;
    border-radius: 5px;
    background: #f1f1f1;
    border: 2px solid transparent;
    padding: 5px 10px;
    resize: none;
    font-size: 15px;
    margin-bottom: 20px;
}

.problem-textarea:focus{
    outline: 1px solid #199e81;
}

.form-submit{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    color: #777777;
    border: 1px solid #777777;
    transition-duration: 0.2s;
}

.form-submit:hover{
    border: 1px solid #199e81;
    color: #199e81;
    background: white;
    cursor: pointer;
}



/* adaptivity */

@media all and (max-width: 1248px){
  .App{
    width: 720px;
  }
  .page-body{
    font-size: 10px;
    padding: 40px 40px;
  }
  .navbar{
    font-size: 10px;
    padding: 10px 0;
  }
  .navbar__link{
    padding: 5px 15px;
  }
  .carousel__wrapper{
    width: 600px;
    height: 500px;
    margin: 0 auto;
  }
  .carousel__item{
    width: 290px;
    height: 150px;
  }
  .search__input{
    width: 65%;
  }
  .search__btn{
    width: 30%;
  }
  .help__header-title{
    font-size: 18px;
  }
}

@media all and (max-width: 768px){
  .App{
    width: 480px;
  }
  .page-body{
    font-size: 10px;
    padding: 40px 40px;
  }
  .navbar{
    font-size: 10px;
    padding: 10px 0;
  }
  .navbar__link{
    padding: 5px 10px;
  }
  .carousel__wrapper{
    width: 400px;
    height: 350px;
    grid-gap: 10px;
  }
  .carousel__item{
    width: 195px;
    height: 110px;
  }
  .controls{
    display: flex;
    flex-wrap: wrap;
  }
  .problem-textarea{
    width: 300px;
  }
  .help__header-title, .help__header-description{
    margin-left: 50px;
  }
}